*, *::after, *::before{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: var(--secondaryFont);
}

h1 {
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 700;
  color: white; 

}

h2{
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--darkPurple);
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 80px;
  height: 35px;
  box-shadow: none;
  background-image: url(../assets/images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.inputEmail {
  margin-bottom: 14px;
  font-family: var(--secondaryFont);
  font-size: 1rem;
  padding: 15px 40px;
  outline: none;
  border: none;  
  color: rgba(0,0,0,0.75);     
}

::-webkit-input::placeholder{
  color: rgba(0,0,0,0.5);
}

::-ms-input::placeholder{
  color: rgba(0,0,0,0.5);
}

::-moz-input::placeholder{
  color: rgba(0,0,0,0.5);
}

:-moz-input::placeholder{
  color: rgba(0,0,0,0.5);
}

::placeholder{
  color: rgba(0,0,0,0.5);
}

.inputSubmit {
  display: inline-block;
  font-family: var(--primaryFont);
  border: none;
  border-radius: 2px;
  font-size: 1rem;  
  padding: 11px 15px;
  box-shadow: 1px 1px 7px rgba(255,255,255,0.25);
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.inputSubmit:hover{
  background-color: hsl(163, 95%, 35%);
}


/* Helper Classes*/
.wrapper{
  padding: 25px; 
  
}

@media screen and (min-width: 1000px){
  .wrapper{
    padding: 52px 80px;
  } 

  .logo{
    width: 160px;        
  }

  .inputEmail {    
    margin-right: 15px;
    margin-bottom: 0px;
}

.inputSubmit {    
    margin-left: 15px;
    
}


  
}

a, a:visited{
  text-decoration: none;
}

p{
  font-size: 0.8rem;
  line-height: 1.3;
}