header {
    position: relative;
    /* border: 1px solid red; */
}

header::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(40, 35, 133);
    background: rgb(40, 35, 133);
    background: linear-gradient(
        125deg,
        rgba(40, 35, 133, 1) 20%,
        rgba(78, 74, 161, 1) 51%,
        rgba(140, 137, 206, 1) 83%,
        rgba(187, 184, 240, 1) 100%
    );
    top: 0;
    left: 0;
}



nav {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: var(--primaryFont);
}

a,
button { 
    font-family: var(--primaryFont);   
    font-size: 0.75rem;
    font-weight: 400;
    color: white;
}

a {
    margin-right: 15px;
}

.signIn{
    box-shadow: none;
}

@media screen and (min-width: 1000px){
    a{
        margin-right: 30px;
    }

    a, button{
        font-size: 1rem;
    } 

    
}

button {
    background-color: var(--green);
    border: none;
    border-radius: 2px;
    padding: 9px 32px;
    cursor: pointer;
}
