a, button{
    display: inline-block;
    font-family: var(--primaryFont);
    border: none;
    border-radius: 2px;
    padding: 6px 15px;
    box-shadow: 1px 1px 7px rgba(255,255,255,0.25);
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

@media screen and (min-width: 1000px){
    .green{
        padding: 9px 32px;
    }
}

.medButton{    
    line-height: 1.5;
    font-weight: 700;
}

.green{
    background-color: var(--green);
    color: white;
    /* margin: 0; */
}  

button:hover{
    
    background-color: hsl(163, 95%, 35%);
    
}