.features{
    min-height: 100px;
    background-color: white;
    padding-bottom: 14rem;
}

.triangle::before{    
    content: '';
    position: absolute;
    padding-bottom: 76%;
    width: 100%;    
    background-color: #ffffff;
    z-index: -1;    
}

.triangle{
    display: block;
    position: relative;
    width: 100%;
    height: 60px;    
    transform: translateY(-60px);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

/* ajuste do triangulo pra não sair do angulo */
@media screen and (max-width: 450px){
    .triangle{
        clip-path: polygon(0 50%, 0 100%, 100% 100%);
    }
}

.fWrapper{
    position: relative;    
}

h2{
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--darkPurple);
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.content{
    display: flex;
    flex-direction: column;
}

.contentImage{
    height: 208px;
    margin-bottom: 100px;
    background-image: url("../assets/images/illustration-stay-productive.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

/* .item{

} */

.feature{
    margin-bottom: 40px;
}

h3{
    font-size: 16px;    
    color: var(--darkPurple);
    margin-bottom: 17px;
    margin-top: 0;
}

p{
    color: var(--gray);
    font-size: 0.9rem;
    line-height: 1.5;
}

@media screen and (min-width: 1000px){
    .contentImage{
        flex: 1;
        height: auto;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .content{
        display: flex;
        flex-direction: row;
    }

    .item{
        flex: 1;        
        padding: 0 5%;       
    }

    .item:last-child{
        padding-right: 0;
    }

    h2{
        font-size: 2rem;
        margin-bottom: 110px;
    }

    h3{
        font-size: 1.15rem;
        margin-bottom: 20px;
    }

    p{
        font-size: 1rem;
    }
}