.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;    
    z-index: 1;
    padding: 100px 0 120px;
}

.hero_image{
    width: 200px;
    margin-bottom: 30px;
    order: 1;
    flex: 2;
}

.hero_text{     
    text-align: center;
    max-width: 500px;
    order: 2;
    flex: 3;
}

h1{
    margin: 0 0 35px 0;
    font-size: 1.5rem;
}

a.button{
    padding: 15px 60px;
    font-size: 0.9rem;    
    font-weight: 700;   
}

.heroButton{
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.heroButton:hover{
    background-color: hsl(163, 95%, 35%);
}

@media screen and (min-width: 1000px){
    h1{
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .hero_image{
        order: 2;
        max-width: 426px;
        flex: 2
    }

    .hero_text{        
        order: 1;
        flex: 3;
        max-width: 750px;        
        text-align: left;
        padding-right: 10%;
        margin-top: -5rem;
    }

    a.button{
        padding: 22px 94px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px){
    .hero_text{
        min-width: 300px;
    }

    .hero_image{
        min-width: 300px;
    }
}