.signup {
    text-align: center;    
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    margin: 0 auto;
}

.signupEmail{
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    flex: 1 0 100%; 
}

.signupSubmit{
    flex: 1 0 100%;
}

.signupContent {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
    max-width: 700px;
    color: var(--medPurple);    
    margin: 0 auto 40px;    
}

.signupH2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 540px){
    .signup{
        max-width: 550px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    
    .signup{
        max-width: none;
        padding: 52px 80px 0 80px;
    }

    .signupContent {
        font-weight: 600;     
        font-size: 1rem;        
    }

    .signupH2 {
        /* font-size: 2rem; */
        margin-bottom: 28px;
    }

    .signupEmail{
        flex: 2;
    }

    .signupSubmit{
        flex: 1;
    }
    
}


